:root {
  --color-design: #2196f3;
  --color-design-global: #ffffff;
  --color-hover-btn-hero: #188ce8;
  --color-text-title: #212121;
  --color-text-p: #757575;
  --color-footer: #2f303a;
  --color-design-line: #eeeeee;
  --color-header-line: #ececec;
  --color-btn-portfolio: #f5f4fa;
  --color-advantage-box: #f5f4fa;
  --color-team-bgd: #f5f4fa;
  --color-logo-second: #212121;
  --color-hero-bg: #c4c4c4;
  --color-clients-logo: #afb1b8;
  --color-team-icon: #afb1b8;
  --color-form-item: rgba(33, 33, 33, 0.2);
  --shadow-team-item: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-portfolio-btn: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-portfolio-project: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-visibility: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transfotm-cubic: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-design-global);
  color: var(--color-text-title);
}

h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
}

.text {
  color: var(--color-text-p);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}
@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.work__title,
.team__title,
.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }
  .work__title,
.team__title,
.clients__title {
    margin-bottom: 50px;
  }
}
.logo__link {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo__label--black {
  color: var(--color-logo-second);
}

.logo__label--blue {
  color: var(--color-design);
}

.logo__label--white {
  color: var(--color-design-global);
}

@media (min-width: 768px) {
  .header__logo {
    margin-right: 88px;
  }
}
@media (min-width: 1200px) {
  .header__logo {
    margin-right: 93px;
  }
}
.header {
  border-bottom: 1px solid var(--color-header-line);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.navigation__list {
  width: 294px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
  transition: var(--transition-color);
  padding: 28px 0;
}

.navigation__link--current {
  position: relative;
  color: var(--color-design);
}
.navigation__link--current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  top: 100%;
  border-radius: 2px;
  background-color: var(--color-design);
}

.address__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--color-text-p);
  margin-left: 30px;
  display: inline-flex;
  padding: 5px 0;
  transition: var(--transition-color);
}

.address__icon {
  fill: currentColor;
  margin-right: 10px;
}

.navigation__link:hover,
.navigation__link:focus,
.address__link:hover,
.address__link:focus {
  color: var(--color-design);
}

@media screen and (min-width: 768px) {
  .header__address {
    margin-left: auto;
  }
  .header__menu {
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }
  .menu-toggle {
    display: none;
  }
  .header__container {
    padding: 14px 15px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}
@media (min-width: 1200px) {
  .header__container {
    padding: 24px 15px 25px;
  }
}
@media (max-width: 1199px) {
  .address__link {
    display: flex;
  }
}
.hero.section {
  padding: 118px 0;
  background-color: var(--color-hero-bg);
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mob.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero.section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-mob@2x.jpg");
  }
}
@media screen and (min-width: 768px) {
  .hero.section {
    max-width: 768px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tab.jpg");
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero.section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-tab@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero.section {
    padding: 200px 0;
    max-width: 1600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-deskt.jpg");
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero.section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/hero-deskt@2x.jpg");
  }
}

.hero > .container {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--color-design-global);
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-design-global);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 200px;
  padding: 10px 30px;
  background-color: var(--color-design);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: var(--transfotm-cubic), var(--transition-bg);
}
.btn:hover, .btn:focus {
  background-color: var(--color-hover-btn-hero);
  transform: scale(110%);
}

.advantage.section {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .advantage.section {
    padding-top: 94px;
  }
}

.advantage__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

@media screen and (min-width: 768px) {
  .advantage__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advantage__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.advantage__box-icon {
  height: 120px;
  width: 100%;
  background-color: var(--color-advantage-box);
  border-radius: 4px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advantage__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
@media screen and (max-width: 767px) {
  .advantage__title {
    text-align: center;
  }
}

.advantage__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
@media screen and (max-width: 767px) {
  .advantage__text {
    text-align: center;
  }
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}
.work__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.work__item {
  position: relative;
}

.work__direction {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-design-global);
  height: 70px;
  width: 100%;
  position: absolute;
  padding: 27px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}

.team.section {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .team.section {
    padding-top: 94px;
  }
}

.team {
  background-color: var(--color-team-bgd);
}

.team__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.team__data {
  padding: 30px 32px;
}

.team__item {
  background-color: var(--color-design-global);
  box-shadow: var(--shadow-team-item);
  border-radius: 0px 0px 4px 4px;
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .team__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    flex-basis: calc((100% - 90px) / 4);
  }
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.team__text {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.clients.section {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .clients.section {
    padding-top: 94px;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}
.clients__item {
  width: 100%;
  flex-basis: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .clients__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    flex-basis: calc((100% - 150px) / 6);
  }
}
.clients__icon {
  fill: currentColor;
}
.clients__link {
  height: 92px;
  width: 100%;
  border: 1px solid var(--color-clients-logo);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-clients-logo);
  transition: var(--transition-color), var(--transition-bg), var(--transition-shadow), var(--transfotm-cubic);
}
.clients__link:hover, .clients__link:focus {
  color: var(--color-design);
  border-color: var(--color-design);
  box-shadow: var(--shadow-team-item);
  transform: scale(110%);
}

.footer {
  background-color: var(--color-footer);
  padding: 60px 0;
}

.footer .container {
  display: grid;
  row-gap: 60px;
}
@media screen and (min-width: 1200px) {
  .footer .container {
    grid-auto-flow: column;
  }
}

@media screen and (min-width: 1200px) {
  .footer__soc-wrapper {
    margin-left: 84px;
    margin-right: 93px;
  }
}

.footer__address {
  font-style: normal;
}

.footer__link {
  display: block;
  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: var(--transition-color);
}
.footer__link:nth-child(1) {
  color: var(--color-design-global);
}
.footer__link:not(:last-child) {
  margin-bottom: 6px;
}
.footer__link:hover, .footer__link:focus {
  color: var(--color-design);
}
@media screen and (min-width: 1200px) {
  .footer__link {
    text-align: start;
  }
}

.footer__logo {
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__logo {
    text-align: start;
  }
}

.footer__title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--color-design-global);
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__title {
    text-align: start;
  }
}

.footer__subscribe {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__subscribe {
    grid-column: 1/3;
  }
}
@media screen and (min-width: 1200px) {
  .footer__subscribe {
    grid-column: auto;
  }
}

.footer__form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  -moz-column-gap: 12px;
       column-gap: 12px;
  row-gap: 20px;
}
@media screen and (min-width: 768px) {
  .footer__form {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    flex-direction: row;
    justify-content: flex-end;
  }
}

.footer__label {
  display: flex;
  flex-basis: 100%;
  max-width: 450px;
}
@media screen and (min-width: 768px) {
  .footer__label {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__label {
    max-width: 358px;
  }
}

.footer__input {
  width: 100%;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: var(--color-design-global);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  padding: 15px 16px;
  background-color: transparent;
  outline: none;
  transition: border-color 250ms var(--cubic);
}
.footer__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer__input:hover, .footer__input:focus {
  border-color: var(--color-design-global);
}

.footer__btn {
  position: relative;
  text-align: left;
}

.footer__letter-icon {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
}

.portfolio.section {
  padding-top: 60px;
}
@media screen and (min-width: 1200px) {
  .portfolio.section {
    padding-top: 94px;
  }
}

.project__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.project__item {
  flex-basis: 100%;
}
@media screen and (min-width: 768px) {
  .project__item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .project__item {
    flex-basis: calc((100% - 60px) / 3);
  }
}

.portfolio__project {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .portfolio__project {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__project {
    margin-top: 50px;
  }
}

.project__link {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-design-global);
}

.project__link:hover,
.project__link:focus {
  box-shadow: var(--shadow-portfolio-project);
}

.project__data {
  position: relative;
  overflow: hidden;
}

.project__descr {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-design-global);
  padding: 63px 24px;
  background-color: rgba(33, 150, 243, 0.9);
  transition: var(--transfotm-cubic);
  transform: translateY(101%);
  opacity: 0;
}

.project__link:hover .project__descr,
.project__link:focus .project__descr {
  transform: translateY(0%);
  opacity: 1;
}

.project__content {
  padding: 20px 24px;
  border: 1px solid var(--color-design-line);
  border-top-style: none;
  flex-grow: 1;
}

.project__title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--color-text-title);
  margin-bottom: 4px;
}

.project__text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio__btn-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  row-gap: 15px;
  -moz-column-gap: 8px;
       column-gap: 8px;
}

.portfolio__btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
  background-color: var(--color-btn-portfolio);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition: var(--transition-color), var(--transition-bg), var(--transition-shadow);
}

.portfolio__btn:hover,
.portfolio__btn:focus {
  background-color: var(--color-design);
  color: var(--color-design-global);
  box-shadow: var(--shadow-portfolio-btn);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: var(--transition-opacity), var(--transition-visibility);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -165%) scale(0);
  opacity: 0;
}

.modal {
  position: relative;
  max-width: 450px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  background-color: var(--color-design-global);
  box-shadow: var(--shadow-team-item);
  border-radius: 4px;
  opacity: 1;
  transition: var(--transfotm-cubic), var(--transition-opacity);
}
@media screen and (min-width: 1200px) {
  .modal {
    max-width: 528px;
  }
}

.form {
  padding: 40px;
}

.form__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-text-title);
  margin-bottom: 12px;
}

.form__label {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.01em;
  color: var(--color-text-p);
  margin-bottom: 4px;
}

.form__imput {
  height: 40px;
  width: 100%;
  padding: 12px 12px 12px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms var(--cubic);
  color: inherit;
}
.form__imput:focus, .form__imput:hover {
  outline: transparent;
  border: 1px solid var(--color-design);
}

.form__imput--big {
  height: 120px;
  padding: 12px 16px;
  resize: none;
}

.modal-btn:focus,
.policy__link:focus {
  outline: 1px solid var(--color-design);
}

.policy__label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 12px;
  line-height: 1.66;
  letter-spacing: 0.03em;
  color: var(--color-text-p);
}
@media screen and (min-width: 1200px) {
  .policy__label {
    font-size: 14px;
    line-height: 1.71;
  }
}

.policy__link {
  color: var(--color-design);
}

.modal__btn {
  display: block;
  margin: 0 auto;
}

.form__item {
  margin-bottom: 10px;
}

.form__imput-wrapper {
  position: relative;
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  fill: var(--color-text-title);
  transition: fill 250ms var(--cubic);
}
.form__imput:hover + .form__icon, .form__imput:focus + .form__icon {
  fill: var(--color-design);
}

.form__textarea {
  margin-bottom: 20px;
}

.modal__policy {
  margin-bottom: 30px;
}

.policy__icon-wrapper {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
  min-height: 15px;
  min-width: 16px;
  border: 2px solid var(--color-text-title);
  border-radius: 2px;
  transition: background-color 250ms var(--cubic);
}

.policy__checkbox:checked + .policy__label .policy__icon-wrapper {
  background-color: var(--color-design);
  border-color: transparent;
}

.policy__checkbox:focus + .policy__label .policy__icon-wrapper {
  border-color: var(--color-design);
}

.soc-net {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.soc-net__link {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.soc-net__link:hover, .soc-net__link:focus {
  color: var(--color-design-global);
  background-color: var(--color-design);
}

.soc-net__icon {
  fill: currentColor;
}

.soc-net__link--dark {
  color: var(--color-design-global);
  background-color: rgba(255, 255, 255, 0.1);
  transition: var(--transition-bg);
}

.soc-net__link--light {
  color: var(--color-team-icon);
  background-color: var(--color-design-global);
  transition: var(--transition-color), var(--transition-bg);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-design-global);
  color: var(--color-design);
  transition: fill 250ms var(--cubic);
}
.close-btn:hover, .close-btn:focus {
  fill: currentColor;
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  padding: 38px 30px;
  background-color: var(--color-design-global);
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms var(--cubic);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 480px) {
  .menu-container {
    padding: 48px 40px;
  }
}
.menu-container .menu-toggle {
  position: absolute;
  top: 10px;
  right: 15px;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  fill: var(--color-logo-second);
}
.menu-toggle:hover, .menu-toggle:focus {
  fill: var(--color-design);
}

.navigation__menu-item:not(:last-child) {
  margin-bottom: 32px;
}

.navigation__menu-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
}
.navigation__menu-link--active {
  color: var(--color-design);
}

.menu__soc-list {
  display: flex;
}

.menu__soc-link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--color-design);
  padding-right: 10px;
}
@media screen and (min-width: 480px) {
  .menu__soc-link {
    font-size: 18px;
  }
}

.menu__soc-item:not(:first-child) {
  padding-left: 10px;
}
.menu__soc-item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.menu__tel {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-text-p);
  margin-bottom: 64px;
}
@media screen and (min-width: 480px) {
  .menu__tel {
    font-size: 24px;
  }
}

.menu__mail {
  display: block;
  font-weight: 500;
  font-size: 28px;
  line-height: 1.175;
  letter-spacing: 0.02em;
  color: var(--color-design);
  margin-bottom: 32px;
}
@media screen and (min-width: 480px) {
  .menu__mail {
    font-size: 34px;
  }
}/*# sourceMappingURL=main.css.map */