@import "./utils/mixins";
@import "./utils/variables.scss";
@import "./utils/reset";
@import "./utils/global-style";

@import "./components/logo";
@import "./components/header";
@import "./components/hero";
@import "./components/btn";
@import "./components/advantage";
@import "./components/work";
@import "./components/team";
@import "./components/clients";
@import "./components/footer";
@import "./components/portfolio";
@import "./components/modal";
@import "./components/soc-net-icon";
@import "./components/close-btn";
@import "./components/mobile-memu";
