.clients.section {
  padding-top: 60px;

  @include desktop {
    padding-top: 94px;
  }
}
.clients {
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  &__item {
    width: 100%;
    flex-basis: calc((100% - 1 * 30px) / 2);

    @include tablet {
      flex-basis: calc((100% - 2 * 30px) / 3);
    }

    @include desktop {
      flex-basis: calc((100% - 5 * 30px) / 6);
    }
  }

  &__icon {
    fill: currentColor;
  }

  &__link {
    height: 92px;
    width: 100%;
    border: 1px solid var(--color-clients-logo);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-clients-logo);
    transition: var(--transition-color), var(--transition-bg), var(--transition-shadow),
      var(--transfotm-cubic);

    &:hover,
    &:focus {
      color: var(--color-design);
      border-color: var(--color-design);
      box-shadow: var(--shadow-team-item);
      transform: scale(110%);
    }
  }
}
