///modal-btn-close
.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color-design-global);
  color: var(--color-design);
  transition: fill 250ms var(--cubic);

  &:hover,
  &:focus {
    fill: currentColor;
  }
}
