.header {
  border-bottom: 1px solid var(--color-header-line);
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 15px;
}

.navigation__list {
  width: 294px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navigation__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--color-text-title);
  transition: var(--transition-color);
  padding: 24px 0;

  @include desktop {
    padding: 28px 0;
  }
}

.navigation__link--current {
  position: relative;
  color: var(--color-design);

  &::after {
    display: block;
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    top: 100%;
    border-radius: 2px;
    background-color: var(--color-design);
  }
}

.address__link {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  color: var(--color-text-p);
  margin-left: 30px;
  display: inline-flex;
  align-items: center;
  padding: 5px 0;
  transition: var(--transition-color);

  @include desktop {
    font-size: 14px;
    line-height: 1.143;
    align-items: center;
  }
}

.address__icon {
  fill: currentColor;
  margin-right: 10px;
}

.navigation__link:hover,
.navigation__link:focus,
.address__link:hover,
.address__link:focus {
  color: var(--color-design);
}

@media screen and (min-width: 768px) {
  .header__address {
    margin-left: auto;
  }

  .header__menu {
    display: flex;
    align-items: center;
    flex-basis: 100%;
  }

  .menu-toggle {
    display: none;
  }

  .header__container {
    padding: 10px 15px;
  }
}

@media (max-width: 767px) {
  .header__menu {
    display: none;
  }
}

@media (min-width: 1200px) {
  .header__container {
    padding: 24px 15px 25px;
  }
}

@media (max-width: 1199px) {
  .address__link {
    display: flex;
  }
}
