.hero.section {
  padding: 200px 0;
  background-color: var(--color-hero-bg);
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/herobg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero > .container {
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: var(--color-design-global);
}
