@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.work__list {
  display: flex;
  justify-content: center;
  gap: 30px;
}
.work__item {
  position: relative;
}

.work__direction {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-design-global);
  height: 70px;
  width: 100%;
  position: absolute;
  padding: 27px;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
}
