.container {
  width: 100%;
  outline: 1px solid red;
  margin: 0 auto;
  padding: 0 15px;

  @media screen and (min-width: 480px) {
    max-width: 480px;
  }

  @media screen and (min-width: 768px) {
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1200px;
  }
}

.section {
  padding-bottom: 60px;
}

.text {
  color: var(--color-text-p);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.title {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  @include desktop {
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.work__title,
.team__title,
.clients__title {
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 94px;
  }

  .work__title,
  .team__title,
  .clients__title {
    margin-bottom: 50px;
  }
}
