:root {
  --color-design: #2196f3;
  --color-design-global: #ffffff;
  --color-hover-btn-hero: #188ce8;
  --color-text-title: #212121;
  --color-text-p: #757575;
  --color-footer: #2f303a;
  --color-design-line: #eeeeee;
  --color-header-line: #ececec;
  --color-btn-portfolio: #f5f4fa;
  --color-advantage-box: #f5f4fa;
  --color-team-bgd: #f5f4fa;
  --color-logo-second: #212121;
  --color-hero-bg: #c4c4c4;
  --color-clients-logo: #afb1b8;
  --color-team-icon: #afb1b8;
  --color-form-item: rgba(33, 33, 33, 0.2);

  --shadow-team-item: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  --shadow-portfolio-btn: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  --shadow-portfolio-project: 0px 1px 1px rgba(0, 0, 0, 0.12),
    0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);

  --transition-color: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-bg: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-shadow: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-opacity: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transition-visibility: visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --transfotm-cubic: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--color-design-global);
  color: var(--color-text-title);
}
